@import "../../theme/base"

.lineIndex span
  color: $light-dark-color
  margin-right: $letter-spacing

.lineIndex li
	display: flex
	flex-direction: row

.mdh1
	color: $red-color

.mdh2
	color: $blue-color

.mdh4
	color: $green-color

.tab1
	padding-left: 2*$letter-spacing

//TODO extract this
.highlight
  background-color: $light-dark-color
