$font-weight      = 100
$font-size        = 18px
$line-height      = 27px

$dark-color       = get-grey(500)
$light-dark-color    = get-grey(300)
$blue-color             = get-blue()
$white-color            = get-white()
$green-color            = get-green()
$red-color              = get-red()
$purple-color           = get-purple()
