$font-weight      = 300
$font-size        = 16px
$line-height      = 20px

$dark-color       = get-grey(500)
$light-dark-color       = get-grey(400)
$lighter-dark-color    = get-grey(300)
$blue-color             = get-blue()
$white-color            = get-white()
$green-color            = get-green()
$red-color              = get-red()
$purple-color           = get-purple()
